body {
  background: #FFffff; }

h1.logo a {
  background: none;
  padding-left: 10px; }

/* :background #99CC99 */
/* body.two-col div#wrapper
 * :background-image none
 * :background #FFF
 * :-moz-border-radius 10px
 * :-webkit-border-radius 10px */
